@layer components {
  .btn {
    @apply block bg-transparent border-2 border-zinc-900 pt-1.5 pb-3 px-4 w-64 text-xl text-center rounded-xl font-bold transition-shadow hover:shadow-md hover:shadow-zinc-800;

    &--white {
      @apply border-white hover:shadow-gray-400;
    }

    &--uppercase {
      @apply uppercase;
    }
  }
}
