@layer components {
  .btn {
    @apply block bg-gray-dark capitalize text-white rounded-xl hover:bg-blue-primary px-6 py-2.5 w-56 text-center font-bold transition text-xl;

    &--white {
      @apply border-white hover:shadow-gray-400;
    }

    &--sm {
      @apply text-base pt-2 pb-2.5;
    }

    &--uppercase {
      @apply uppercase;
    }
  }
}
