@layer components {
  .navbar {
    ul {
      @apply flex gap-8 font-bold;
    }
    li {
      @apply uppercase text-lg;
    }
    a {
      @apply hover:text-gray-700 focus:text-gray-700;
    }
  }
}
