@layer components {
  .navbar {
    ul {
      @apply flex gap-8 font-bold;
    }
    li {
      @apply uppercase text-lg;
    }
    a {
      @apply text-zinc-900 hover:text-blue-primary focus:text-blue-primary;
    }

    &--active {
      @apply bg-blue-primary pb-0.5 px-6 rounded-lg !text-white;
    }
  }
}
