{% extends "_layouts/root" %}

{% block body %}
	{% block header %}
		{% include "_includes/header" %}
	{% endblock %}

	<main>
		{% block main %}{% endblock %}
	</main>

	{% block footer %}
		{% include "_includes/footer" %}
	{% endblock %}
{% endblock %}
