{% extends "_layouts/root" %}

{% block header %}
	{% include "_includes/header" %}
{% endblock %}

{% block body %}
	{% block container %}
		<div class="container px-6">
			{% block main %}{% endblock %}
		</div>
	{% endblock %}
{% endblock %}

{% block footer %}
	{% include "_includes/footer" %}
{% endblock %}
