<div class="pt-0.5 pb-1 px-1.5 absolute right-8 bottom-8 rounded-sm {% if whiteBg is defined %}bg-white text-neutral-900{% elseif blueBg is defined %}bg-blue-900 text-white{% endif %}">
	<span class="block font-extrabold text-2xl">VISIT</span>
	<span class="block font-extrabold text-4xl -mt-2.5">US</span>
</div>
